<% title "Positions" %>

<table class="index-table">
	<tr>
	   	<th>Position Title</th>
		<th></th>
	 </tr>
	 <% for position in @positions %>
	 	<tr>
	    	<td><%= position.name %></td>
	     	<td>
				<%= link_to view_ico, position %>
	     		<%= link_to edit_ico, edit_position_path(position) %>
	     		<%= link_to delete_ico, position, :confirm => 'Are you sure?', :method => :delete %>
			</td>
	   </tr>
	 <% end %>
</table>

<div class="pagination">
	<div class="page_info">
    	<%= page_entries_info @positions %>
    </div>
    <%= will_paginate @positions, :container => false %>
</div>

<%= render 'panel_dataentry' %>

<p><%= link_to new_ico, new_position_path %></p>
