<%= form_for @sl5_fish do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :SL5 %><br />
    <%= f.text_field :SL5 %>
  </p>
  <p>
    <%= f.label :fish %><br />
    <%= f.text_field :fish %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </p>
  <p><%= f.submit %></p>
<% end %>
