<%= form_for @status do |f| %>
	<%= f.error_messages %>
	<table class="">
		<tr>
			<th>
				<%= f.label :name, "Status" %>
			    
			</th>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				<%= f.submit %>
			</td>
		</tr>
	</table>

<% end %>
