<%= form_for @sdistrict do |f| %>
	<%= f.error_messages %>
	<table class="form-table">
		<tr>
			<th>
				<%= f.label :name,"Sub-district" %>
			    
			</th>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<th>
				<%= f.label :district %>			    
			</th>
			<td>
				<%= collection_select (:sdistrict, :district_id, District.default, :id, :name, :prompt => 'Please select...' ) %>
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				<%= f.submit %>
			</td>
		</tr>
	</table>
<% end %>
