<div id="data_panel_container" class="data-panel-container">
<div id="data_panel" class="data-panel">	
	<%= form_for(@sdistrict) do |f| %>
	  	<% if @sdistrict.errors.any? %>
			<div id="error_explanation">
		    	<h2><%= pluralize(@sdistrict.errors.count, "error") %> prohibited this log from being saved:</h2>

		      	<ul>
		      		<% @sdistrict.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      		<% end %>
		      	</ul>
		    </div>
		<% end %>

		<table class="data-entry">
			<tr>
				<th><%= f.label :name,"Sub-district" %></th>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<th><%= f.label :district %></th>
				<td><%= collection_select(:sdistrict,:district_id,District.default,:id,:name,:prompt=>'Please select...') %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
</div>
</div>