<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<table class="form-table">
		<tr>
			<th>
				<%= f.label :email %>
			</th>
			<td>
				<%= f.email_field :email %>
			</td>
		</tr>
		<tr>
			<th>
				<%= f.label :password %>
			</th>
			<td>
				<%= f.password_field :password %>
			</td>
		</tr>
		<% if devise_mapping.rememberable? -%>
		<tr>
			<th>
			</th>
			<td>
				<%= f.check_box :remember_me %> <%= f.label :remember_me %><br />
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
				<% end -%>
			</td>
		</tr>
		<% end -%>
		<tr>
			<th>
			</th>
			<td>
				<%= f.submit "Sign in" %>
			</td>
		</tr>
	</table>

<% end %>

