<% title "EL4" %>

<table class="index-table">
	<tr>
		<th>District</th>
		<th>Year</th>
		<th>Quarter</th>
		<th>Target Species</th>
		<th>Value</th>
	</tr>
 	<% for elfour in @elfours %>
	<tr>
	    <td><%= elfour.district %></td>
	    <td><%= elfour.year %></td>
	    <td><%= elfour.quarter %></td>
	    <td><%= elfour.fish %></td>
	    <td><%= elfour.value %></td>
	    <td>
			<%= link_to view_ico, elfour %>
	    	<%= link_to edit_ico, edit_elfour_path(elfour) %>
	    	<%= link_to delete_ico, elfour, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
	<% end %>
</table>

<p><%= link_to new_ico, new_elfour_path %></p>
