<div id="data_panel_container" class="data-panel-container">
<div id="data_panel" class="data-panel">	
	<%= form_for(@boat_size) do |f| %>
	  	<% if @boat_size.errors.any? %>
			<div id="error_explanation">
		    	<h2><%= pluralize(@boat_size.errors.count, "error") %> prohibited this log from being saved:</h2>

		      	<ul>
		      		<% @boat_size.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      		<% end %>
		      	</ul>
		    </div>
		<% end %>

		<table class="data-entry">
			<tr>
				<th><%= f.label :size %></th>
				<td><%= f.text_field :size %></td>
			</tr>
			<tr>
				<th><%= f.label :description %></th>
				<td><%= f.text_field :description %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
</div>
</div>