<%= form_for @village do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sdistrict %><br />
    <%= f.text_field :sdistrict %>
  </p>
  <p><%= f.submit %></p>
<% end %>
