<div id="data_panel_container" class="data-panel-container">
<div id="data_panel" class="data-panel">	
	<%= form_for(@village) do |f| %>
	  	<% if @village.errors.any? %>
			<div id="error_explanation">
		    	<h2><%= pluralize(@village.errors.count, "error") %> prohibited this log from being saved:</h2>

		      	<ul>
		      		<% @village.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      		<% end %>
		      	</ul>
		    </div>
		<% end %>

		<table class="data-entry">
			<tr>
				<th><%= f.label :name, "Status" %></th>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<th><%= f.label :sdistrict %></th>
				<td><%= f.text_field :sdistrict %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
</div>
</div>