<div id="data_panel_container" class="data-panel-container">
<div id="data_panel" class="data-panel">	
	<%= form_for(@landing_center) do |f| %>
	  	<% if @landing_center.errors.any? %>
			<div id="error_explanation">
		    	<h2><%= pluralize(@landing_center.errors.count, "error") %> prohibited this log from being saved:</h2>

		      	<ul>
		      		<% @landing_center.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      		<% end %>
		      	</ul>
		    </div>
		<% end %>

		<table class="data-entry">
			<tr>
				<th><%= f.label :name, "Landing Center" %></th>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<th><%= f.label :sdistrict, "Sub-district" %></th>
				<td><%= collection_select (:landing_center, :sdistrict_id, Sdistrict.default, :id, :name, :prompt => 'Please select...' ) %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
</div>
</div>