<%= form_for @gear do |f| %>
	<%= f.error_messages %>
	<table class="">
		<tr>
			<th>
				<%= f.label :name, "Gear" %>
			    
			</th>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<th>
				<%= f.label :gear_category, "Category" %>
			    
			</th>
			<td>
				<%=collection_select(:gear,:gear_category_id,Status.default,:id,:name,:prompt=>'Please select...')%>
			</td>
		</tr>
		<tr>
			<th>
			</th>
			<td>
				<%= f.submit %>
			</td>
		</tr>
	</table>
	
<% end %>
